In [1]:
# CREATE TABLE Employees (
#     EmployeeID INT PRIMARY KEY,
#     FirstName VARCHAR(50),
#     LastName VARCHAR(50),
#     Age INT,
#     Department VARCHAR(50)


# INSERT INTO Employees (EmployeeID, FirstName, LastName, Age, Department) VALUES
# (1, 'John', 'Doe', 30, 'HR'),
# (2, 'Jane', 'Smith', 25, 'IT'),
# (3, 'Emily', 'Johnson', 35, 'Finance'),
# (4, 'Michael', 'Williams', 28, 'Marketing'),
# (5, 'Sarah', 'Brown', 40, 'Sales');

# SELECT * FROM Employees;

In [13]:
# !pip install pandas mysql-connector-python
# %pip install pymysql

In [12]:
import pandas as pd
import mysql.connector
import warnings

# Suppress warnings
warnings.filterwarnings("ignore")
# Establish the database connection
connection = mysql.connector.connect(
    host='localhost',        # e.g., 'localhost' or your database server address
    user='root',    # your database username
    password='', # your database password
    database='bia'          # your schema name
)

# Query to select all data from Employees table
query = "SELECT * FROM employees;"

# Use pandas to read the table into a DataFrame
df = pd.read_sql(query, connection)

# Close the database connection
connection.close()

# Display the DataFrame
print(df)

   EmployeeID FirstName LastName    HireDate   Salary
0           1     Henil    patel  2024-05-24  20000.0
1           2       jay    patel  2024-05-24  50000.0
2           3       met    patel  2024-07-24  20000.0
3           4      ravi    patel  2024-08-02  70000.0
4           5       raj    patel  2024-05-15  60000.0
5           6       dev    patel  2024-09-19  30000.0